/**
 * bootstarpのCSSをカスタマイズしたくて、
 * ベースとなるbootstrapのcssの直下に読み込ませるようにして
 * CSSを上書きします。
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #ACCF3C;
  padding-top: 54px;
  margin-bottom: 60px;
}

/* --- ナビゲーション --- */
.navbar-inverse {
  background-color: #ECFFB0;
  border-color: #ECFFB0;
}

.navbar-inverse .navbar-brand {
  font-family: 'Lemon', cursive;
  font-size: 28px;
  color: #2E8F00;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  color: #163501;
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
  text-decoration: underline;
  font-size: 18px;
  color: #837800;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  color: #163501;
  background-color: transparent;
}
/* //--- ナビゲーション ----// */


.jumbotron {
  padding: 0px 40px 40px 40px;
  padding-bottom: 5px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #FFFFFF;
}

.jumbotron .row {
  padding-bottom: 0px;
}

.jumbotron .container {
  max-width: 100%;
}

.jumbo-image {
  margin-top: 30px;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 200;
}

#jumbotron-radio-detail-left {
  min-height: 200px;
  padding-top: 10px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

#jumbotron-radio-detail-right-title {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

#jumbotron-radio-detail-right-list {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
}

#jumbotron-radio-detail-left p {
  padding-left: 10px;
}

.radio-detail-right-title-h1 {
  padding-top: 10px;
}

.radio-detail-info-title {
  margin-top:0px;
  padding-left: 10px;
}

.radio-detail-info {
  background-color: #7A0202;
}

.main-containt-h2 {
  margin-top: 0px; 
}

h3.about {
  padding-top: 20px;
}

.center-align {
  text-align: center;
}

.left-align {
  text-align: left;
}

.min-height-416 {
  min-height: 416px;
}

.team-header-font {
  color: #FFFFFF;
}

.footer {
  width: 100%;
  background-color: #7A0202;
  position: absolute;
  bottom: 0;
}

.footer ul {
  padding-top: 10px;
  list-style:none;
  list-style-image:none
}

.footer a {
  color: #fff;
}

.footer-copyright-text {
  color: #FFF;
}
